*,div,pre,textarea,body,input,td,tr,p {
    background-color: #1a1a1a !important;
    background-image: none !important;
    color: #ebdbb2 !important;
}
h1,h2,h3,h4 {
    background-color: #1a1a1a !important;
    color: #ebdbb2 !important;
}
a {
    color: #458588 !important;
}
a:hover,a:focus {
    color: #b8bb26 !important;
}
a:visited {
    color: #b16286 !important;
}

/* Hint mode color styling */
span[vimbhint^='label'] {
    background-color: #ebdbb2 !important;
    border: 1px solid #2d2d2d !important;
    color: #2d2d2d !important;
    font: bold 10pt monospace !important;
    opacity: 1 !important;
    padding: .1em .1em !important;
    /* text-transform: uppercase !important; */
}
span[vimbhint='label focus'] {
    font: bold 10pt monospace !important;
}
*[vimbhint^='hint'] {
    background-color: #00000000 !important;
    /* color: #2d2d2d !important; */
}
*[vimbhint='hint focus'] {
    background-color: #806699cc !important;
    /* color: #2d2d2d !important; */
}
